<html>
<head>
	<title>.NET Core Web API</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container" style="margin-top:50px;">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label><h>Yazar Ekle</h> </label><br />
					<input type="text" class="form-control" id="yazarAdi" placeholder="Yazar adı giriniz.." />
				</div>
				<div class="form-group">
					<input type="button" value="Yazar Ekle" id="yazarEkleBtn" class="btn-success form-control" />
				</div><br />
				<div id="yazarMessage"></div>
			</div>
		</div>

		<div id="spinnerDiv" class="d-none justify-content-center">
			<div id="spinner" class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label><h>Kitap Ekle</h> </label><br />
					<input type="text" class="form-control" id="kitapAdi" placeholder="Kitap adı giriniz.." />

					<select id="yazarlar" class="form-control mt-2" aria-label="Default select example">
						<option selected>Yazar Seçiniz</option>

					</select>


				</div>

				<div class="form-group">
					<input type="button" value="Kitap Ekle" id="kitapEkleBtn" class="btn-success form-control" mt2 />
				</div>

				<div id="Message" class="alert alert-success" role="alert"></div>
			</div>
		</div>
		<hr />
		<div class="row" id="tableRow">

			<div class="input-group">
				<div class="input-group-prepend">
					<button id="searchButton" class="input-group-text">Ara</button>
				</div>
				<input id="searchBookID" type="text" aria-label="Kitap Adı" class="form-control" placeholder="Kitap Adı Giriniz..">
				<input id="searchAuthorID" type="text" aria-label="Yazar Adı" class="form-control" placeholder="Yazar Adı Giriniz..">
			</div>

			<table class="mt-2 table table-striped table-dark">
				<thead>
					<tr>
						<th scope="col">No</th>
						<th scope="col">Kitabın Adı</th>
						<th scope="col">Yazar</th>
					</tr>
				</thead>
				<tbody id="tableBody">
				</tbody>
			</table>


			<div class="col-md-12">
				<div class="dropdown">
					<a style="background-color: greenyellow">Her Sayfada Kaç Kitap Gösterileceğini Seçiniz.</a>
					<a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
					<div id="dropdownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					</div>
				</div>

				<nav id="pageNav" aria-label="Page navigation example" class="mt-2">
					<ul id="paginationBody" class="pagination">
					</ul>

				</nav>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-md-12">
				<button class="btn btn-warning form-control" id="yazarlariGetir">Yazarları Getir</button>
			</div>
			<div class="col-md-12">
				<button class="btn btn-warning form-control mt-2" id="yazarKitapFiltre">Hangi Yazarın Kaç Kitabı Var?</button>
			</div>
			<div class="col-md-12">
				<div id="getAuthorsArea">
					<ul id="getAuthors"></ul>
				</div>
				<div id="getAuthorBookCount">
				</div>
			</div>
		</div>

	</div>

	<script>

		yazarlariGetir();

		hideMessage();

		$(document).ready(function () {
			let bookCount = 10;
			let pageNumber = 1;
			let postData = {
				bc: bookCount,
				pn: pageNumber,
			};
			fillPagination(bookCount);
			$.ajax({
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				type: 'GET',
				url: '/api/service/getallbooks',
				data: postData,
				success: function (response) {
					books = response.items;
					$("#dropdownMenu").append("<a onclick = 'fillPagination(" + 5 + "); selectPage(" + pageNumber + ", " + 5 + ")' class = 'dropdown-item'>5</a>");
					$("#dropdownMenu").append("<a onclick = 'fillPagination(" + 10 + "); selectPage(" + pageNumber + ", " + 10 + ")' class='dropdown-item'>10</a>");
					$("#dropdownMenu").append("<a onclick = 'fillPagination(" + 20 + "); selectPage(" + pageNumber + ", " + 20 + ")' class='dropdown-item'>20</a>");
					$.each(books, function (index, value) {
						var author = value.author;
						var pageNumber = index + 1;
						let siraNo = index + 1;
						$("#tableBody").append("<tr><td scope = 'row' >" + siraNo + "</td><td> " + value.name + "</td><td>" + author.name + "</td><td style = 'display:none'>" + author.bookID + "</td>< /tr>");
					})
				},
				error: function (xhr) {
					$("#Message").html("");
					$("#Message").html("<span class='text-danger'>Kitap yok!</span>");
				}
			})
		});

		function fillPagination(itemCount) {
			let postData = {
				it: itemCount,
			};
			cleanPagination();
			$.ajax({
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				type: 'GET',
				url: '/api/service/getpagecount',
				data: postData,
				success: function (response) {
					$("#paginationBody").append("<li class='page-item'><a class='page-link' href = '#' aria-label='Previous'><span aria-hidden='true'>&laquo;</span><span class='sr-only'> Previous </span></a></li>");
					for (var i = 1; i <= response; i++) {
						$("#paginationBody").append("<li onclick='selectPage(" + i + "," + itemCount + ")' class='page-item'><a class='page-link' href='#'>" + i + "</a></li>");
					}
					$("#paginationBody").append("<li class='page-item'><a class='page-link' href='#' aria-label='Next'><span aria-hidden='true'>&raquo;</span><span class='sr-only'>Next</span></a></li>");
				},
				error: function (xhr) {
					$("#Message").html("");
					$("#Message").html("<span class='text-danger'>Kitap yok!</span>");
				}
			})
		}

		function selectPage(pageNo, bookCount) {
			let countBook = bookCount;
			let pageNumber = pageNo;
			let postData = {
				bc: countBook,
				pn: pageNumber,
			};
			cleanTable();
			$.ajax({
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				type: 'GET',
				url: '/api/service/getallbooks',
				data: postData,
				success: function (response) {
					books = response.items;
					$.each(books, function (index, value) {
						var siraNo = bookCount * (pageNo - 1) + index + 1;
						var pageNumber = index + 1;
						$("#tableBody").append("<tr><td scope = 'row' >" + siraNo + "</td><td> " + value.name + "</td><td>" + value.author.name + "</td><td style = 'display:none'>" + value.bookID + "</td>< /tr>");
					})
					document.getElementById('tableRow').scrollIntoView();
				},
				error: function (xhr) {
					$("#Message").html("");
					$("#Message").html("<span class='text-danger'>Kitap yok!</span>");
				}
			})
		}

		function hideSpinner() {
			$("#spinner").fadeOut();
		}

		function hideMessage() {
			$("#Message").addClass("d-none")
		}

		function fadeOutMessage() {
			$("#Message").fadeOut(1000);
		}

		function showMessage() {
			$("#Message").removeClass("d-none");
			setTimeout(fadeOutMessage, 5000);
		}

		function showSpinner() {
			$("#spinnerDiv").addClass("d-flex").removeClass("d-none");
		}

		function yazarlariGetir() {
			$.ajax({
				type: 'GET',
				url: '/api/service/getallauthors',
				success: function (authors) {
					let selectList = document.getElementById("yazarlar");

					authors.forEach(author => {
						option = document.createElement("option");
						option.text = author.authorName;
						option.value = author.authorID;
						selectList.appendChild(option);
					});
				}
			});
		}

		function cleanTable() {
			$("#tableBody tr").remove();
		};

		function cleanPagination() {
			$("#paginationBody").remove();
			$("#pageNav").append("<ul id='paginationBody' class='pagination'></ul>");
		};

		$("#searchButton").click(function () {
			try {
				let searchBook = $("#searchBookID").val();
				let searchAuthor = $("#searchAuthorID").val();
				if (/^[a-zA-Z0-9- ]*$/.test(searchBook) == false) throw "Hatalı bir giriş yaptınız.";
				if (/^[a-zA-Z0-9- ]*$/.test(searchAuthor) == false) throw "Hatalı bir giriş yaptınız.";
				if (searchBook == "" && searchAuthor == "") {
					selectPage(1, 10);
				}
				else {
					let postData = {
						sb: searchBook,
						sa: searchAuthor,
					};
					cleanPagination();
					$.ajax({
						headers: {
							'Accept': 'application/json',
							'Content-Type': 'application/json'
						},
						type: 'GET',
						url: '/api/service/searchbookorauthor',
						data: postData,
						success: function (books) {
							cleanTable();
							$.each(books, function (index, value) {
								let siraNo = index + 1;
								$("#tableBody").append("<tr><td scope = 'row' >" + siraNo + "</td><td> " + value.name + "</td><td>" + value.authorName + "</td><td style = 'display:none'>" + value.bookID + "</td>< /tr>");
							})
						},
						error: function (xhr) {
							$("#Message").html("");
							$("#Message").html("<span class='text-danger'>Kitap yok!</span>");
						}
					})
				}
			}
			catch (err) {
				alert(err);
			}
		});

		$("#yazarlariGetir").click(function () {
			$.ajax({
				type: 'GET',
				url: '/api/service/getallauthors',
				success: function (books) {
					$("#getAuthors").html("");
					$.each(books, function (index, value) {
						$("#getAuthors").append("<li>Yazar Adı: <b>" + value.authorName + " - Kitap Sayısı: <b>" + value.totalBook + "</b>");
					});
				}
			});
		});

		$("#yazarEkleBtn").click(function () {
			var yazarAdi = $("#yazarAdi").val();
			var postData = {
				authorName: yazarAdi,
			};

			if (yazarAdi == "") {
				alert("Yazar adı giriniz!");
			} else {
				$.ajax({
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					type: 'POST',
					url: '/api/service/postauthor',
					data: JSON.stringify(postData),
					dataType: 'JSON',
					success: function (result) {
						$("#yazarMessage").html("");
						$("#yazarMessage").html("<span class='text-success'>Yazar ekleme başarılı!</span>");
						yazarlariGetir();

					},
					error: function (xhr) {
						$("#yazarMessage").html("");
						$("#yazarMessage").html("<span class='text-danger'>Yazar ekleme başarısız!</span>");
					}
				});
			}
		});

		$("#kitapEkleBtn").click(function () {

			var kitapAdi = $("#kitapAdi").val();
			var yazar = $("#yazarlar").val();
			var yazarAdi = $("#yazarlar").select();
			var postData1 = {
				Name: kitapAdi,
				AuthorID: yazar,
				AuthorName: yazarAdi,
			}
			showSpinner();
			$.ajax({
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				type: 'POST',
				url: '/api/service/postbook',
				data: JSON.stringify(postData1),
				dataType: 'JSON',
				success: function (result) {
					showMessage();
					$("#Message").html("");
					$("#Message").html("<span class='text-success'>Kitap ekleme başarılı!</span>");
					hideSpinner();
				},
				error: function (xhr) {
					showMessage();
					$("#Message").html("");
					$("#Message").html("<span class='text-danger'>Kitap ekleme başarısız!</span>");
					hideSpinner();
				}
			});
		});

		$("#yazarKitapFiltre").click(() => {
			$.ajax({
				type: 'GET',
				url: '/api/service/getauthorbookcount',
				success: function (response) {
					$("#getAuthorBookCount").html(JSON.stringify(response))
				}
			});
		})

	</script>
</body>
</html>